<launch>
    <arg name="model" default="burger_for_autorace"/>
    <arg name="robot_position" default="-x -1.0 -y 5.0 -z 0.01" />

    <param name="robot_description"
        command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" respawn="false" output="screen"
        args="-urdf -model turtlebot3_$(arg model) -param robot_description $(arg robot_position)" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="30.0" />
    </node>

    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
        <param name="publish_frequency" type="double" value="30.0" />
    </node>
</launch>